<p>Hey {{ name }},</p>
<p>Please click below to update your validity with your id</p>

<a href="http://localhost:8000/testandreportstudio/api/employeemaster/updateValidity"
    style="display:inline-block; background-color:#007bff; color:white; padding:10px 20px; text-decoration:none; border-radius: 5px;">Cancel</a>
<a href="http://localhost:8000/testandreportstudio/api/employeemaster/updateValidity/{{id}}"
    style="display:inline-block; background-color:#007bff; color:white; padding:10px 20px; text-decoration:none; border-radius: 5px;">Renewal</a>
<p>If you did not request this email you can safely ignore it.</p>

<a href="http://localhost:4200/app-update-renewal/{{name}}/{{id}}">Click Here</a>